// * {
//   border: 1px dashed black;
//   padding: 10px;
//   margin: 10px;
// }

.friend-form {
  position: relative;
  float: left;
}

.output {
  display: inline-block;
}

.friend-list {
  // visibility: hidden;
  display:none;
}

.show-list {
  // visibility: visible;
  display:block;
}
